@layer components {
  .chat-balloon {
    @apply relative bg-neutral-800 text-white rounded-md p-3;
    min-width: 30%;
    max-width: 80%;
  }

  /* odd chat-balloons left */
  .chat-balloon:nth-child(2n) {
    @apply self-start;

    .chat-balloon-status {
      @apply w-3 h-3 relative;
      &:before {
        content: '';
        @apply w-full h-full absolute top-0 left-0 rounded-full bg-green-700;
      }

      &.busy:before {
        @apply bg-sky-500;
        animation: status-bounce 1.4s infinite ease-in-out;
      }
    }
  }
  .chat-balloon:nth-child(2n):after {
    content: '';
    @apply absolute left-2 bottom-0 translate-y-full border-solid;
    border-width: 0.5rem 0.5rem 0 0;
    border-color: rgb(38, 38, 38) transparent;
  }

  /* even chat-balloons right */
  .chat-balloon:nth-child(2n + 1) {
    @apply self-end bg-sky-800;
    .chat-balloon-status {
      @apply hidden;
    }
  }
  .chat-balloon:nth-child(2n + 1):after {
    content: ' ';
    @apply absolute right-2 bottom-0 translate-y-full border-solid;
    border-width: 0.5rem 0 0 0.5rem;
    border-color: rgb(7 89 133) transparent;
  }

  @keyframes status-bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
}
