@layer base {
    body {
        font-family: 'Lato', sans-serif;
        @apply text-neutral-900 bg-slate-100 scroll-smooth;
    }

    html {
        @apply scroll-smooth;
    }

    input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
        @apply text-lg px-4 py-3.5 border-2 text-neutral-900 bg-slate-50 border-neutral-300 rounded outline-sky-600;
    }

    label[for] {
        @apply cursor-pointer leading-tight;
    }

    textarea, .textarea {
        @apply text-lg px-4 py-3 border-2 text-neutral-900 bg-slate-50 border-neutral-300 w-full rounded outline-sky-600 leading-snug;
    }
}
